@charset "utf-8";
@import "~bulma/bulma.sass";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@creativebulma/bulma-tooltip/dist/bulma-tooltip.css"; // FIXME: why can't I import the sass here?

// 1. ensure the primary text column of tables is as wide as possible as others witl have ~static sized content
//     * Probably need to rename this to something other than .log-table
//
// 2. at least for the voting table, vertical-align to middle so it doesn't look stupid
//     * This might not be good for longer log messages? May want to move phase indicator to bottom
.log-table td:nth-child(2) {
    width: 100%;
}

.table td {
    vertical-align: middle;
}

.invisible {
    visibility: hidden;
}

// https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.non-footer {
    flex: 1;
}
